body {
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.main {
  width: 904px;
  height: 584px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./../images/dh-ui-main.png);
  background-repeat: no-repeat;
}

.rule-break {
  height: 5px;
  /* width: 205px; */
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url(./../images/console.png);

}

.readout {
  text-align: left;
  margin-top: 100px;
  margin-left: 40px;
  padding: 15px;
  height: 418px;
  width: 248px;
  background-image: url(./../images/console.png);
  background-repeat: no-repeat;
  float: left;
  font-size: 18px;
  overflow-y: auto;
}

.alignleft {
	float: left;
  color: orange;
}

.alignright {
	float: right;
}

.character-sheet {
  margin-top: 102px;
  height: 428px;
  width: 205px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  float: left;
}

.player-portrait {
  position: relative;
  margin-top: 16px;
  padding-top: 6px;
  height: 214px;
  width: 208px;
  background-image: url(./../images/player-portrait.png);
  background-repeat: no-repeat;
}

.player {
  position: relative;
}

#blood25 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#blood50 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#blood75 {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
}

.portrait {
  margin-top: 102px;
  text-align: center;
  height: 315px;
  width: 278px;
  background-image: url(./../images/portrait.png);
  background-repeat: no-repeat;
  float: left;
}

.monster-name {
  margin-top: 10px;
  padding: 5px;
  height: 22px;
  width: 268px;
  text-align: center;
  font-size: 22px;
  background-image: url(./../images/portrait-name.png);
  background-repeat: no-repeat;
  float: left;
}

.monster-stats {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 22px;
  width: 238px;
  font-size: 24px;
  float: left;
}

.attack {
  margin-top: 30px;
}

.action-bar {
  margin-top: 20px;
  padding-left: 47px;
  padding-right: 47px;
  margin-left: auto;
  margin-right: auto;
  width: 446px;
  height: 60px;
  background-image: url(./../images/actionbar.png);
}

.icon {
  text-align: left;
  float: left;
  margin-top: 4px;
  margin-left: 5.0px;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 50px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 1000px;
  height: 660px; /* Could be more or less, depending on screen size */
  font-size: 30px;
  background-image: url(./../images/map.png);
  z-index: 1;
}

.room1 {
  z-index: 3;
  background-image: url(./../images/room-complete.png);
  background-repeat: no-repeat;
}

h1 {
  color: orange;
}
