body {
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.main {
  width: 904px;
  height: 584px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./../images/dh-ui-main-01.png);
  background-repeat: no-repeat;
}

.rule-break {
  height: 5px;
  /* width: 205px; */
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url(./../images/console.png);

}

.readout {
  text-align: left;
  margin-top: 100px;
  margin-left: 40px;
  padding: 15px;
  height: 418px;
  width: 248px;
  background-image: url(./../images/console.png);
  background-repeat: no-repeat;
  float: left;
  font-size: 18px;
  overflow-y: auto;
}

.alignleft {
	float: left;
  color: orange;
}

.alignright {
	float: right;
}

.character-sheet {
  margin-top: 102px;
  height: 428px;
  width: 205px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  float: left;
}

.player-portrait {
  position: relative;
  margin-top: 16px;
  padding-top: 6px;
  height: 214px;
  width: 208px;
  background-image: url(./../images/player-portrait.png);
  background-repeat: no-repeat;
}

.player {
  position: relative;
}

.portrait {
  margin-top: 102px;
  text-align: center;
  height: 315px;
  width: 278px;
  background-image: url(./../images/portrait.png);
  background-repeat: no-repeat;
  float: left;
}

.monster-name {
  margin-top: 10px;
  padding: 5px;
  height: 22px;
  width: 268px;
  text-align: center;
  font-size: 22px;
  background-image: url(./../images/portrait-name.png);
  background-repeat: no-repeat;
  float: left;
}

.monster-stats {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 22px;
  width: 238px;
  font-size: 24px;
  float: left;
}

.attack {
  margin-top: 30px;
}

.action-bar {
  margin-top: 20px;
  padding-left: 47px;
  padding-right: 47px;
  margin-left: auto;
  margin-right: auto;
  width: 446px;
  height: 60px;
  background-image: url(./../images/actionbar-01.png);
}

.icon {
  text-align: left;
  float: left;
  margin-top: 4px;
  margin-left: 5.0px;
  position: relative;
}

.icon-image {
  position: relative;
}

.quantity {
  position: absolute;
  bottom: 2px;
  left: 2px;
}

.icon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  background-image: url(./../images/dh-ui-main-01.png);
  background-repeat: none;
  margin: 50px auto;
  padding: 50px;
  /* border: 1px solid #888; */
  width: 804px;
  height: 484px;
  font-size: 25px;
  z-index: 1;
}

.textButton {
 cursor: pointer;
}
/* .room1 {
  margin-top: 165px;
  margin-left: -550px;
}

.room2 {
  margin-top: 170;
  margin-left: 200;
} */

h1 {
  color: orange;
}
