body {
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.main {
  width: 904px;
  height: 584px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./../images/dh-ui-main.png);
  background-repeat: no-repeat;
}

.rule-break {
  height: 5px;
  width: 205px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url(./../images/console.png);

}

.console {
  margin-top: 100px;
  margin-left: 40px;
  padding: 15px;
  height: 418px;
  width: 248px;
  background-image: url(./../images/console.png);
  background-repeat: no-repeat;
  float: left;
  font-size: 18px;
}

.alignleft {
	float: left;
  color: orange;
}

.alignright {
	float: right;
}

.character-sheet {
  margin-top: 102px;
  height: 428px;
  width: 205px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  float: left;
}

.portrait {
  margin-top: 102px;
  text-align: center;
  height: 315px;
  width: 278px;
  background-image: url(./../images/portrait.png);
  background-repeat: no-repeat;
  float: left;
}

.monster-name {
  margin-top: 10px;
  padding: 5px;
  height: 22px;
  width: 268px;
  text-align: center;
  font-size: 22px;
  background-image: url(./../images/portrait-name.png);
  background-repeat: no-repeat;
  float: left;
}

.monster-stats {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 22px;
  width: 238px;
  font-size: 24px;
  float: left;
}

.attack {
  margin-top: 30px;
}
